

.result {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 20px;

    h3 {
        margin-bottom: 20px;
    }
    .resultsContent {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 20px;
        margin: 20px;
        border: solid thin rgb(202, 200, 200);
        border-radius: 10px;
        height: auto;
    }

    .item {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: rgb(243, 241, 241);
        margin: 2px;
        color: rgb(85, 84, 84);
        &.status { 
            display: flex;
            justify-content: center;
            background: rgb(43, 190, 88);
            color: white;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .total {

        }
        .email {

        }
    }
    
}