.donateForm {
    display: flex;
    flex-direction: column;
    color: rgb(88, 88, 88);
    
   .header {
    margin-bottom: 20px;
    } 

   


    .checkoutDonateBtn  {
            background: #282828;
            color: white;
            padding: 7px 20px;
            margin-top: 30px;
            width: 100%;
        }
    .checkoutDonateBtn:hover {
            background: aqua;
            color: #282828;
            cursor: pointer;
        }
        
       .inputWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        
        input {
            margin: 5px 20px 5px 0px;
            // margin-right: 20px;
            width: 100%;
            height: 40px;
            background: none;
            border: solid thin gray;
            border-radius: 10px;
            padding: 10px;
        }
       } 
    
}


@media only screen and (min-width: 50px) and (max-width: 690px) {

.donateForm {

    .inputWrapper {
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
        }
    }


}
    
        
     
    
    }