.firstRowWrapper{
    height: 95vh;
    display: flex;
    align-items: center;
    background: black;

  

    .logoOverlay {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 95%;
        left: 0;
        right: 0;
        margin: auto 0px;
        color: white;
        overflow: hidden;

        .logoOverlay-content {
            margin: 5% 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 60%;
            height: 70%;
            min-width: 500px;
            
            .symbol {
                height: 80%;
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                width: 100%;
                height: 20%;
                position: relative;
                margin-top: 20px;
            }
   
 
           
        }   
    }
}

@media only screen and (max-width: 930px){
    .firstRowWrapper{

        .logoOverlay {
            .logoOverlay-content {
                    .symbol {
                    }
                    .text {
                        margin-top: -20px;
                    }
            }
        }    
    }
}

@media only screen and (max-width: 450px){
    .firstRowWrapper{

        .logoOverlay {
            justify-content: center;

            .logoOverlay-content {
                    min-width: 300px;
                    justify-content: center;
                    .symbol {
                        height: 200px;
                    }
                    .text {
                        margin-top: 0px;
                        height: 60px;

                    }
            }
        }    

    }
}